./TP-WASO-2026_v2-Moodle/WASO-SOM-Personne/target/WASO-SOM-Persone-0.28.war
./TP-WASO-2026_v2-Moodle/WASO-SOM-Client/target/WASO-SOM-Client-0.28.war
./TP-WASO-2026_v2-Moodle/WASO-SMA/target/WASO-SMA-0.28.war
./TP-WASO-2026_v2-Moodle/WASO-IHM-Web/target/WASO-IHM-Web-0.28.war
./TP-WASO-2026_v2-Moodle/WASO-common/target/WASO-common-0.28.war
